header{
  height: 54px;
  border-bottom: 1px solid rgb(220, 220, 220);
  display: grid;
  /* grid-template-columns: min-content; */
  padding-left: 16vw;
  padding-right: 16vw;
}
nav{
  height: 54px;
  display: grid;
  grid-template-columns: min-content 1fr min-content 1fr min-content min-content min-content min-content min-content;
  grid-gap: 25px;
}
.nav-svg{
  height: calc(54px*0.5);
}
.header-logo{
  grid-column: 1;
}
.nav-search{
  grid-column: 3;
}
.nav-home{
  grid-column: 5;
}
.nav-messages{
  grid-column: 6;
}
.nav-upload{
  grid-column: 7;
}
.nav-notification{
  grid-column: 8;
}
.nav-account{
  grid-column: 9;
}
.header-element{
  align-self: center;
  margin: 0 auto;
}
.post{
  background-color: darkkhaki;
  width: 66%;
  height: min-content;
  width: min-content;
}
.post-picture-container{
  width: min-content;
}
.post-author{
  width: min-content;
  display: grid;
  grid-template-columns: repeat(3, min-content);
}
.post-author-profilepic{
  height: 100%;
  width: 48px;
  border-radius: 50%;
  background-color: darkturquoise;
}
