/* ****** */
/* HEADER */
/* ****** */

.header {
  border-bottom: 1px solid #cecece;
  height: 60px;
  padding-right: 16vw;
  padding-left: 16vw;
}
.header nav {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr repeat(6, min-content);
  gap: 24px;
  align-items: center;
}
.header nav .search {
  width: 180px;
  height: 24px;
  justify-self: center;
}


/* ****** */
/*  FEED  */
/* ****** */

.post {
  width: 615px;

  background-color: sandybrown;
}
.post header {
  height: 60px;
  display: flex;
  padding: 0 12px 0 12px;

  background-color: tomato;
}
.post-profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.post-username {
  margin-left: 12px
}
.post-more-btn {
  margin-left: auto;
}
.post header * {
  margin-top: auto;
  margin-bottom: auto;
}

img {
  display: block;
}


.post footer {
  padding: 0 16px 16px 16px;
}
.post-controls {
  padding: 10px 0 10px 0;
  display: flex;
  gap: 16px;

}
.post-controls button:last-of-type {
  margin-left: auto;
}

.post-social {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.post-header span {
  margin-left: 8px;
}
