body{
  margin: 0;
}
a{
  text-decoration: none;
}
p{
  margin: 0;
}
button{
  padding: 0;
  border: none;
  background: none;
}
address{
  font-style: normal;
}
h2{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
